html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;      
  padding: 0;    
  width: 100%;
  overflow-x: hidden;
  background: linear-gradient(to bottom, #020617, #020617);
}

