.rempodPage {
  min-height: 100vh;
  background: linear-gradient(to bottom, #0f0d1e, #1a142e);
  padding-top: 3rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;
}

.backWrapper {
  align-self: flex-start;
}

.backLink {
  color: #ccc;
  text-decoration: underline;
  font-size: 1rem;
  margin-bottom: 1rem;
  transition: color 0.3s;
}

.backLink:hover {
  color: #fff;
}

.pageTitle {
  font-size: 3rem;
  margin: 0;
  font-family: "Playfair Display", serif;
}

.podContainer {
  margin: 3rem auto;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #972323;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 2px solid black;
}

.podLight {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: background-color 0.1s;
}

.hint {
  text-align: center;
  opacity: 0.8;
  margin-top: 2rem;
}

.sectionTitle {
  margin-top: 2rem;
  font-size: 1.8rem;
  font-family: "Playfair Display", serif;
}

.sectionText {
  margin-top: 1rem;
  line-height: 2;
  max-width: 1000px;
  font-size: 1.15rem;
  color: #eee;
  padding: 0 1rem;
  text-align: justify;
}
