.page {
  min-height: 100vh;
  width: 100%;
  padding-bottom: 4rem;
  background: linear-gradient(to bottom, #020617, #020617);
}

.topBar {
  height: 60px;
  background: linear-gradient(to right, #04214a, #888);
}

.title {
  text-align: center;
  margin: 5rem;
  margin-bottom: 3rem;
  font-size: 30px;
  color: #ffffff;
}

.placesGrid {
  list-style: none;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.placeCard {
  background-color: #1b1832;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.placeImage {
  width: 420px;
  height: 300px;
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
}

.placeName {
  margin-top: 0.8rem;
  font-size: 1rem;
  color: #ffffff;
}
