.container {
  min-height: 100vh;
  width: 100%;
  padding-bottom: 4rem;
  padding-top: 1px;
  background: linear-gradient(to bottom, #020617, #020617);
}



.title {
  text-align: center;
  margin: 5rem;
  margin-bottom: 3rem;
  font-size: 30px;
  color: #ffffff;
}

.grid {
  list-style: none;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.card {
  background-color: #1b1832;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cardImage {
  width: 420px;
  height: 300px;
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
}

.cardTitle {
  margin-top: 0.8rem;
  font-size: 1rem;
  color: #ffffff;
}
.card:hover {
          transform: scale(1.05);
          box-shadow: 0 8px 20px rgba(255, 87, 87, 0.5);
        }

.card:hover .cardImage {
          transform: scale(1.02);
        }