.titleheader{
  display: flex; 
  justify-content: center; 
  align-items:  center;
  height: 30vh;
  margin:0;

  background-color: rgb(213, 68, 213);
         
}

.pagebackground{
  background:black;
}
.background {
  min-height: 300vh; /* makes page scroll */
  margin:0;
  background: linear-gradient(
    to bottom,
    #000000,
    #690303,
    #ac1c1c93
    

  );
}

.headerpic{
  display:flex;
  justify-content: center;
  margin-top:30px;
  margin-bottom:30px;
}


.title {
  font-size:40px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin:0;
}

.titleheader1{
  display: flex; 
  justify-content: center; 
  align-items:  center;
  color: white;
  
}

.titleheader2{
  display: flex; 
  justify-content: center; 
  align-items:  center;
  color: white;
}

.gameimage{
  display: flex; 
  margin-top:100px;
  margin-left: 5vw;
}

.game{
  color:white;
  display:flex;
  align-items:flex-end;
  
  
 
}

.game1text{
  display:flex;
  margin-top:20px;
  

  
}

.game1textheader{
  display:flex;
  margin:10px;

}

.gamedetails{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  margin-left:30px;
  margin-right:30px;
  
}

.block{
  display: block;
}
