.titleheader{
  display: flex; 
  justify-content: center; 
  align-items:  center;
  height: 30vh;
  margin:0;

  background: linear-gradient(to bottom, #020617, #020617);
         
}

.pagebackground{
  background: linear-gradient(to bottom, #020617, #020617);
}
.background {
  min-height: 300vh;
  margin:0;
  background: linear-gradient(to bottom, #020617, #020617);
}

.headerpic{
  display:flex;
  justify-content: center;
  margin-top:30px;
  margin-bottom:30px;
}


.title {
  font-size:40px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin:0;
  color:white
}

.titleheader1{
  display: flex; 
  justify-content: center; 
  align-items:  center;
  color: rgb(255, 255, 255);
  margin-top:5vh
  
}

.titleheader2{
  display: flex; 
  justify-content: center; 
  align-items:  center;
  color: white;
}

.gameimage{
  display: flex; 
  margin-top:100px;
  margin-left: 5vw;
}

.game{
  color:white;
  display:flex;
  align-items:flex-end;
  
  
 
}

.game1text{
  display:flex;
  margin-top:20px;
  

  
}

.game1textheader{
  display:flex;
  margin:10px;

}

.gamedetails{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  margin-left:30px;
  margin-right:30px;
  
}

.block{
  display: block;
}


.video{
  max-width: 800px;
  margin: 0 auto;
  aspect-ratio: 16 / 9;
}

.video iframe{
  width: 100%;
  height: 100%;
  border:none;
  margin-top:1vh;
  margin-bottom:10vh;
}



.videocredit{
  display: flex; 
  justify-content: center; 
  align-items:  center;
  color: white;
  margin-top:10vh
  
  
}



@media (max-width: 900px) {
  .section {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .forumquizgrid {
    grid-template-columns: 1fr;
  }

  .navbar {
    flex-wrap: wrap;
    height: auto;
  }
}