.titleheader{
  display: flex; 
  justify-content: center; 
  align-items:  center;
  height: 30vh;
  margin:0;

  background: linear-gradient(to bottom, #020617, #020617);
         
}

.pagebackground{
  background: linear-gradient(to bottom, #020617, #020617);
}
.background {
  min-height: 300vh;
  margin:0;
  background: linear-gradient(to bottom, #020617, #020617);
}

.headerpic{
  display:flex;
  justify-content: center;
  margin-top:30px;
  margin-bottom:30px;
}


.title {
  font-size:40px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin:0;
  color:white
}

.titleheader1{
  display: flex; 
  justify-content: center; 
  align-items:  center;
  color: rgb(255, 255, 255);
  margin-top:5vh
  
}

.titleheader2{
  display: flex; 
  justify-content: center; 
  align-items:  center;
  color: white;
}

.gameimage{
  display: flex; 
  margin-top:100px;
  margin-left: 5vw;
}

.game{
  color:white;
  display:flex;
  align-items:flex-end;
  
  
 
}

.game1text{
  display:flex;
  margin-top:20px;
  

  
}

.game1textheader{
  display:flex;
  margin:10px;

}

.gamedetails{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  margin-left:30px;
  margin-right:30px;
  
}

.block{
  display: block;
}


.video{
  max-width: 800px;
  margin: 0 auto;
  aspect-ratio: 16 / 9;
}

.video iframe{
  width: 100%;
  height: 100%;
  border:none;
  margin-top:1vh;
  margin-bottom:10vh;
}



.videocredit{
  display: flex; 
  justify-content: center; 
  align-items:  center;
  color: white;
  margin-top:10vh
  
  
}



@media (max-width: 900px) {
  .game {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .gameimage {
    margin: 0;
    justify-content: center;
    width: 100%;
  }

  .gameimage img {
    max-width: 90%;
    height: auto;
  }

  .gamedetails {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    padding: 0 1.25rem;
    align-items: center;
    text-align: center;
  }

  .game1text,
  .game1textheader {
    margin: 0;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 520px) {
  .title {
    font-size: 1.8rem;
    padding: 0 1rem;
    text-align: center;
  }

  .video {
    max-width: 100%;
    padding: 0 1rem;
  }

  .video iframe {
    margin-bottom: 6vh;
  }
}

@media (max-width: 900px) {
  .game {
    margin-bottom: 4rem;
  }

  .gameimage {
    margin-bottom: 1.5rem;
  }

  .gamedetails {
    margin-bottom: 2.5rem;
  }

  .video {
    margin-top: 3rem;
    margin-bottom: 5rem;
  }

  .videocredit {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    padding: 0 1rem;
  }
}
