.navbar {
 background-color: black;

 display:flex;
 margin:0px;
 padding:0px;
 height:10vh;
 
}
.navitem {
  flex:1;
  display:flex;
  align-items:center;
  justify-content:center;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size:20px;
 
}
.navitem:hover {
 background-color: #ddd;
 color: black;
}